
/*need spacer to make page look right*/
.selectedCollSpacer{
    height: 65px;
}

.selColVideo1{
    float: left;

    margin: 10px;
    margin-left: 15px;
}


.selectedCollVideo2{
  display: flex;
  justify-content: space-between;
    align-content:right;
    
}

.collListVideo {
  width: 210px;
border: 1px solid #f1f3f4;

}

.collVideoTitle{
     height: 50px;

    font-size: 14px;
  text-align: left;
}

.collVideoDescription{

  font-size: 12px;
  color: grey;
text-align: left;
   ;
}


.bottomSelColSpacer{
height: 100vh;
}