
/*need spacer to make page look right*/
.selectedCollSpacer{
    height: 65px;
}


.selectedCollVideo2{
    align-content:right;
    border: 5px solid green;
}

.collListVideo {
  width: 210px;
  border: fuchsia 1px solid;
}

.collVideoTitle{
     height: 50px;

    font-size: 14px;
  text-align: left;
}

.collVideoDescription{

  font-size: 12px;
  color: grey;
text-align: left;
   ;
}