.App {
  text-align: center;
  background: #F9F9F9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*seperator*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*seperator*/

/*NavBarStuff*/



.navBarDiv{
  height: 56px;
background: white;
position: fixed;
width: 100%;
box-shadow: 4\px 4px 1px #e3e7ea
}

.navBarDiv div{
display: flex;
margin-top: 10px;
justify-content: space-between;

}

.hamburgerAndYouTube{
  width: 100px;
}

.hamburger{
  height: 18px;
  width: 18px;
  margin-top: 5px;
  margin-left: 25px;
}


.youTubeAndText{
font-family: 'Roboto', sans-serif;
  margin-left: 25px;
  
}
.youTube{
  fill: red;
  height: 25px;
  width: 25px;
}
.youTubeText{
  margin-top: 5px;
  margin-left: 3px;
}


/*
//////////////////////////
/////// SEARCH BAR NAV////
//////////////////////////*/




.youTubeSearchDiv{
position: fixed;
left: 240px;
top: 5px;
display: flex;



}

.youtubeSearchInput{
margin-top: 10px;
border: 1px solid lightgrey;
padding-left: 10px;
z-index: 6;
}

.magnifyingGlassContainer{
height:15px;
width: 50px;
margin-top: 10px;
border: 1px solid lightgrey;
height: 34px;
background: #f9f9f9;
}

.magnifyingGlass{
    height: 15px;
  width: 15px;
  margin-top: 7px;
  fill: grey;
}

#logInBtn{
position: fixed;
top: 25px;
right: 60px;

}
.userIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
  fill: lavender;
   background: purple;
   border: 1px solid purple;
   border-radius: 50px;
  

}


/*
/////////////////////////
///// SIDE NAV BAR //////
//////////////////////////
*/

.sideNavBarContainer{
  margin-top:60px;
  float: left;
  height: 300vh;
   width: 240px;
  background: #f1f3f4
}
.singleMenuItemContainer{
  display: flex;
  height: 40px;
  width: 240px;
  
}

.singleMenuItemContainer div{
 margin-top: 20px;
  
}

.menuLogoContainer svg {
  height: 19px;
  width: 19px;
  fill: grey;
  margin-left: 20px;
  margin-right: 20px;
}

/*
/////////////////////////
///MAIN PG LOGGED IN////
///////////////////////
*/

.app-router-container{
border: 5px solid green;
  top:200px;
  margin-left: 240px;

}

.searchedVideosContainer{
  display: flex;
  flex-wrap: wrap;

}

.youTubeSearchVideo{
  margin-right: 5px;
}

